* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.turn{
  display: flex;
  justify-content: center;
  color: #eee;
  font-size: 40px;
  padding-bottom: 10px;
}

.board-game{
  width: 400px;
  height: 400px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

span{
  width: 33.333%;
  height: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 30px;
  outline: 1px solid #ccc;  
}

span:hover {
  background: #f6f6f6;
  cursor: pointer;
  outline: 1px solid #333;
}

div.boardx span:not(.x):not(.o):hover:before {
  opacity: 50%;
  content: '❌';
}

div.boardO span:not(.x):not(.o):hover:before {
  opacity: 50%;
  content: '⭕️';
}

span.winner{
  outline: 1px solid red;
}

